patches/* binary
* merge=theirs
Luciditv*.tsx merge=manual
Luciditv*.ts merge=manual
Luciditv*.js merge=manual
Luciditv*.jsx merge=manual
stylesheets/manifest.scss merge=manual
ts/state/smart/Inbox.tsx merge=manual
ts/state/smart/App.tsx merge=manual
package.json merge=manual
