// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.luciditv-module-call-manager {
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  align-content: center;
  justify-items: center;
  z-index: 1000;
}

.luciditv-module-timeline--show {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.luciditv-module-timeline--hide {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.luciditv-module-timeline {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out, background-color 1s ease-in-out;

  .module-timeline__last-message {
    align-content: center;
    justify-items: center;
    height: 100%;
  }

  .module-message__container--incoming {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    gap: 10px;
  }

  .module-timeline__messages {
    justify-content: center;
  }

  .module-message__author-avatar-container {
    display: none;
  }

  .module-message__metadata {
    display: none;
  }
}
